<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card d-flex justify-content-center">
          <div class="card-header card-header-info">
            <div>
              <h3 class="card-title text-center text-uppercase py-1"><span class="font-weight-bold">{{ walletData.name }}</span> Details</h3>
              <!-- <div><span>id: </span>{{wallet.id}}</div> -->
              <!-- <h4 class="card-title ">Simple Table</h4> -->
              <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
            </div>
          </div>
          <div class="card-body py-5">
            <h4 class="text-center font-weight-bold text-uppercase">Balance : <span>231 RON</span></h4>
            <div class="flex-container" fxLayout="row" fxLayoutAlign="space-around center">
              <div class="totals-column">
                <h4>Total Month Expenses</h4>
                <p>20RON</p>
              </div>
              <div class="totals-column">
                <h4>Total Month Income</h4>
                <p>3RON</p>
              </div>
            </div>
          </div>
          <!-- <div class="card-footer">
            <mat-card-actions>
              <button mat-button class="go-back-btn" (click)="goBack()">
                <mat-icon>keyboard_backspace</mat-icon>
              </button>
            </mat-card-actions>
          </div> -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="card d-flex justify-content-center">
          <div class="card-header card-header-warning">
            <h4 class="card-title text-center text-uppercase">Wallet Statistics</h4>
          </div>
          <div class="card-body py-3">

          </div>
          <div class="card-footer">

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card d-flex justify-content-center">
          <div class="card-header card-header-primary text-center text-uppercase">
            <h5 class="card-title text-center text-uppercase">Transactions</h5>
          </div>
          <div class="card-body py-5">
            <div class="flex-div" style="display:flex; justify-content: space-between;">
              <mat-form-field appearance="standard" style="width: 20%">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Ex. Groceries from LIDL" #input>
              </mat-form-field>
              <div class="add-new-transaction">
                <button class="btn btn-success" (click)="clickAddTransaction()" data-toggle="modal" data-target="#exampleModal">
                  <mat-icon>add</mat-icon> Add Transaction
                </button>
                <button class="btn btn-warning" (click)="clickAddTransaction2()">
                  <mat-icon>add</mat-icon> Add Transaction 2
                </button>
              </div>
            </div>
            <table mat-table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">Id</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
              </ng-container>
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">title</th>
                <td mat-cell *matCellDef="let element">{{element.title}}</td>
              </ng-container>
              <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> description </th>
                <td mat-cell *matCellDef="let element">{{element.description}}</td>
              </ng-container>
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> type </th>
                <td mat-cell *matCellDef="let element" class="text-uppercase font-weight-bold"
                [ngStyle]="element.type == 'income' ? { 'color':'green' } : {'color': 'red'}">{{ element.type }}</td>
              </ng-container>
              <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> amount </th>
                <td mat-cell *matCellDef="let element">{{element.amount}} {{ element.currency }}</td>
              </ng-container>
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"> date </th>
                <td mat-cell *matCellDef="let element">{{element.date}}</td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="text-primary"> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <div class="actions">
                    <button class="btn btn-info" (click)="onEdit(element)" data-toggle="modal" data-target="#exampleModal">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button class="btn btn-danger" (click)="deleteTransaction(element)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef collspan="4">
                  Loading data...
                </mat-footer-cell>
              </ng-container>
              <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef collspan="4">
                  No transactions to load.
                </mat-footer-cell>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
              <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
              <!-- <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr> -->
            </table>
            
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of transactions"></mat-paginator>
          </div>
          <div class="card-footer"></div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Transaction Details</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form [formGroup]="formTransaction">
              <mat-form-field class="form-field-full-width" appearance="fill">
                <mat-label for="transactionTitle">Transaction Title</mat-label>
                <input type="text" formControlName="transactionTitle"  id="transactionTitle" 
                aria-describedby="transactionTitle" matInput>
              </mat-form-field>
              <mat-form-field class="form-field-full-width" appearance="fill">
                <mat-label for="transactionType">Transaction Type</mat-label>
                <input type="text" formControlName="transactionType" id="transactionType" aria-describedby="transactionType" matInput>
                <!-- <mat-select formControlName="transactionType" id="transactionType" aria-describedby="transactionType">
                  <mat-option value="income">income</mat-option>
                  <mat-option value="expense">expense</mat-option>
                </mat-select> -->
              </mat-form-field>
              <mat-form-field class="form-field-full-width" appearance="fill">
                <mat-label for="transactionDescription">Transaction Description</mat-label>
                <textarea type="text" formControlName="transactionDescription" id="transactionDescription" 
                aria-describedby="transactionDescription" 
                max-rows="2" placeholder="Details about transaction..." matInput></textarea>
              </mat-form-field>
              <mat-form-field class="form-field-full-width" appearance="fill">
                <mat-label for="transactionAmount">Transaction Amount</mat-label>
                <input type="text" formControlName="transactionAmount" id="transactionAmount" aria-describedby="transactionAmount"
                 matInput>
              </mat-form-field>
              <mat-form-field class="form-field-full-width" appearance="fill">
                <mat-label for="transactionDate">Transaction Date</mat-label>
                <input type="text" formControlName="transactionDate" id="transactionDate" aria-describedby="transactionDate" matInput>
              </mat-form-field>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" *ngIf="showAdd; else showUpdate" class="btn btn-success" (click)="postTransactionDetails()">Add Transaction</button>
            <ng-template #showUpdate>
              <button type="button" class="btn btn-info text-white" (click)="updateTransactionDetails()">Edit Transaction</button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="footer-actions">
    <button mat-fab color="primary" aria-label="Go buton" (click)="goBack()" style="position: fixed; bottom: 15px; right: 15px; z-index: 2" >
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </div>
</div>