.normal-form{
    margin:10px;
}

.controles-container{
    width: 100%;
    padding: 5px;
}

.controles-container > * {
    width: 100%;
}

.button-row button {
    margin: 5px;
}

.normal-form mat-form-field {
    margin-bottom: 0.8em;
}

.normal-form {
    margin: 10px;
}