<h2 mat-dialog-title>Transaction Details</h2>
<mat-dialog-content class="normal-form" [formGroup]="transactionService.form">
 
        <input type="hidden" formControlNaem="$key">
        <mat-form-field>
            <input formControlName="title" matInput placeholder="Transaction Title*">
            <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="type" placeholder="Transaction Type">
                <ng-container *ngFor="let transactionTypeData of transactionTypes">
                    <mat-option value="{{ transactionTypeData.id }}">{{ transactionTypeData.value }}</mat-option>
                </ng-container>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="description" matInput placeholder="Transaction Description*">
            <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="amount" matInput placeholder="Transaction Amount*">
            <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>

</mat-dialog-content>        
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" [disabled]="transactionService.form.invalid">Submit</button>
    <button mat-raised-button color="secondary" (click)="onClear()">Clear</button>
</mat-dialog-actions>